body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  margin: 0;
}

.sidebar {
  /* background-image: linear-gradient(to right, rgb(217, 217, 217) , rgb(204, 218, 212), rgba(255, 255, 255)); */
  color: rebeccapurple;
}

.mainbar {
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(144, 196, 176), rgb(255, 255, 255));
}

.sideDiv {
  position: sticky;
  top: 10%;
}

.fa-github, .fa-envelope{
  color: black;
}
